<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
      <meta name="description" content="{{ meta.description }}">
    {% endif %}{% if meta.robots %}
      <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/dico.css" />
    <script src="{{ theme_url }}/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>

      <header id="header" class="row header-def">
        <div class="inner-header">
          <div class="title">
            <a href="{{ base_url }}"><img src="/content/images/title.png" alt="title"></a>
            <!--<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>-->
          </div>
          <div class="description">
            <p>{{ meta.description }}</p>
          </div>
        </div>
      </header><!-- /header#header -->

      <section id="content" class="row content-def">
        <div class="large-12 columns">
          {{ content }}
        </div>
      </section> <!-- /section#content -->

      <nav class="definition-list">
        {{ at_navigation.navigation }}
        <!--{{alphabetical_list.navigation}}-->
      </nav>
    <footer id="footer" class="row">
    </footer><!-- /footer#footer -->


    <script src="{{ theme_url }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ theme_url }}/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<!--     // <script src="{{ theme_url }}/bower_components/foundation/js/foundation.min.js"></script>
    // <script src="{{ theme_url }}/bower_components/foundation/js/foundation/foundation.reveal.js"></script> -->
    <script src="{{ theme_url }}/js/dico.min.js"></script>
    <script>
     //$(document).foundation();
    </script>
  </body>
</html>
