@charset "UTF-8";

@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "http://fonts.googleapis.com/css?family=Roboto";
@import "http://fonts.googleapis.com/css?family=Share";

body {
	font-family: "Roboto", sans-serif;
	margin: 30px;
	background-color: #05ff9f;
}

h1, h2, h3, h4, h5 {
	font-family: "Share", sans-serif;

}

a {
	color: #000;
	border-bottom: 1px dotted #000;
}
// HOME

header {
	&.row{
		width: 30%;
		margin: 8% 0px 0px 10%;
		display: inline-block;
		vertical-align: top;
	}
	.inner-header{
		//padding: 30px;
		.title {
			
			h1 {
				a{
					color:#000;
					font-size: 1.8em;
					line-height: 1em;
					border: none;
				}
			}
		}
		.description {
			width:40%;
			min-width: 300px;
			p{
				font-size: 0.9em;
				line-height: 1.3em;
			}
		}
	}	
}

#content {
	display: inline-block;
	vertical-align: top;
	margin: 30px 0px 0px 0px;
	p{
		font-size: 1.2em;
	}

	.menu-principal {
	margin-bottom: 10%;
		li{
			display: inline-block;
			padding-right: 20px;
		}
	}
}

// PAGE DEFINITION
header {
	&.header-def {
		margin: 0px 0 0 40px;
		.title{
			h1{
				font-size: 1em;
			}
		}

	}
}

#content {
	&.content-def{
		margin: 10px 0 0 30px;
		display: block;
		p{
			font-size: 1em;
		}
	}
}


nav.definition-list {
	ul {
		list-style: none;
	}
}

// DIALOG CSS

.ui-dialog {
	background: #fff;
	border: 2px solid #000;
	position: absolute;

	header{
		margin: 0px 0px 0px 10px;
	}

	#content {
		margin-top: 0px;
		h1{
			font-size: 1.2em;
		}

		p{
			font-size: 1em;
			width: 48%;
			//float: right;
			display:inline-block;
			vertical-align: top;	
		}

		img {
			width: 100%;
			//float: right;
			display:inline-block;
			vertical-align: top;
		}

	}

	.ui-button{
		border:none;
		background-color: #A6A6A6;
		padding: 2px 10px;
		position: absolute;
		right:0;
	}
}

footer {
	&.row{
		margin-left: 10%;
	}
}

