@charset "UTF-8";

@import "../bower_components/foundation/scss/normalize.scss";
@import "../bower_components/foundation/scss/foundation.scss";
@import "http://fonts.googleapis.com/css?family=Roboto";
@import "http://fonts.googleapis.com/css?family=Share";
@import "http://fonts.googleapis.com/css?family=EB+Garamond";

$text: #0000D2;
$background:#FFF;
$bleuclair:#00E5B0 ;
$blanc : #FFF;
$rose: #FF2E74;
$vert: #00FF9A;

body {
	font-family: "EB Garamond", serif;
	margin: 30px;
	background-color: $background;
	color:$text;
}

h1, h2, h3, h4, h5 {
	font-family: "EB Garamond", serif;
	color:$text;

}

a {
	color: $text;
	border-bottom: 3px solid $vert;
}

a:hover {
	color: #000;
}

// HOME

header {
	&.row{
		width: 30%;
		margin: -28px 0px 0px 10%;
		display: inline-block;
		vertical-align: top;
	}
	.inner-header{
		//padding: 30px;
		.title {	
			a{
				border: none;
			}
		}
		.description {
			width:40%;
			min-width: 300px;
			p{
				font-size: 1em;
				line-height: 1.3em;
			}
			&.page-description{
				display: inline-block;
			}
		}
	}	
}

#content {
	display: inline-block;
	vertical-align: top;
	margin: 30px 0px 0px 0px;
	p{
		font-size: 1.2em;
		line-height: 1.4em;
		text-align: justify;
	}

	.menu-principal {
		margin-bottom: 30px;
		li{
			display: inline-block;
			padding-right: 30px;
			font-size: 1.8em;
			color: $text;
			a {
				color: $text;
				border: 3px solid $vert;
				padding: 5px 10px;
				&:hover{
					box-shadow:  0px 0px 30px $rose;
				}
			}
		}
	}
}

// PAGE DEFINITION
header {
	&.header-def {
		width:10%;
		display: inline-block;
		margin: 0px 0px 40px 120px;
	}
}

#content {
	&.content-def{
		margin: 10px 0px 0px 70px;
		display: inline-block;
		p{
			font-size: 1.2em;
			line-height: 1.4em;
     -moz-column-count: 2;
     -moz-column-gap: 40px;
     -webkit-column-count: 2;
     -webkit-column-gap: 40px;
		}
	}
}


nav.definition-list {
	margin:0px 0px 50px 50px;
	ul {
		list-style: none;
		li{
			height: 230px;
			border: 3px solid $vert;
			//border-right: 3px dotted #000;
			//background-color:$bleuclair;
			padding-top: 10px;
			margin: 12px 12px;
			&.letter {
				font-size: 7em;
				padding-top: 0px;
				text-align: center;
				color:$vert;
				&:hover {
					border: 3px solid $vert;
					box-shadow: none;
				}
			}
			&:hover{
				//border: 3px solid $rose;
				box-shadow: 0px 0px 30px $rose;
			}
			h3{
				font-size: 1.8em;
				color: $text;
				//border-bottom: 2px dotted $bleuclair;
			}
			p{
				color: $text;
				font-size: 1.2em;
				line-height: 1.4em;
			}
		}
	}
}

[class*="column"] + [class*="column"]:last-child{
	float: left;
}

// DIALOG CSS

.ui-dialog {
	background: #fff;
	box-shadow: 3px 3px 50px $rose;
	position: absolute;
	max-height:600px;
	overflow-y: scroll;
	padding-left: 30px;

	header{
		margin: 0px 0px 0px 10px;
	}

	#content {
		margin-top: 0px;
		h1{
			font-size: 1.2em;
			color: $text;
		}

		p{
			font-size: 1.2em;
			line-height: 1.4em;
			width: 95%;
		}

		img {
			width: 95%;
		}

	}

	.ui-button{
		border:none;
		background-color: $rose;
		padding: 4px 15px;
		position: absolute;
		right:0;
		outline: none;
	}
}

footer {
	&.row{
		margin-left: 10%;
	}
}

